---
import GraphicSpecies from "../components/GraphicSpecies.astro";
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
---

<Layout>
  <h1 class="text-2xl">Test Astro et Plot (Observable)</h1>
  <nav>
    <a href="/test-iframe">Visualisation par IFRAME</a> |
    <a href="/slider">Comparaison des espèces de manchots</a>
  </nav>
</Layout> 