---
import PlotFigure from "../components/PlotFigure.astro";
import * as Plot from "@observablehq/plot";
import penguins from '../assets/penguins.json';
const { species } = Astro.props;
const filtered = penguins.filter(p => p.species === species);
---

<h3>{species}</h3>
<p>Nombre d'individus : {filtered.length}</p>
<PlotFigure
    options={{
      marks: [
        Plot.dot(filtered, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
        }),
      ],
    }}
/>
