---
import PlotFigure from "../../components/PlotFigure.astro";
import penguins from '../../assets/penguins.json';
import * as Plot from "@observablehq/plot";
const penguinsChinstrap = penguins.filter(({species}) => species === "Chinstrap");
---

<h1>Manchots Chinstrap</h1>

<p>Nombre d'individus : {penguinsChinstrap.length}</p>

<PlotFigure
    options={{
      marks: [
        Plot.barY(penguinsChinstrap, {
          x: "sex",
          y: "body_mass_g",
          stroke: "species",
        }),
      ],
    }}
/>
